    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- BACK TO TOP BUTTON -->
                <!-- <a href="#pageTop" class="backToTop"><i class="fa fa-angle-up" aria-hidden="true"></i></a> -->

                <!-- CONTACT US SECTION -->
                <section class="contact">
                  <div class="container">
                    <div class="contact_item-container">
                      <div class="row">

                        <div class="col-md-4">
                          <div class="contact_left">
                            <h3>About Us</h3>
                            <p>
                              Chinesse Day Spa right in the heart of Port Vila. We specialize in Aroma Oil Massage, Back Head & Shoulder Massage, Chinese Massage, Cupping, Therapy Massage, European Massage, Foot Massage, Hot Stone Massage, Korean Massage, Scrapping Therapy and Thai Aroma Massage.
                            </p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="contact_middle">
                            <h3>Open Hours</h3>
                            <ul>
                              <li> Everyday: 10 AM - 11 PM </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="contact_right">
                            <h3>Contacts</h3>
                            <ul>
                              <li>PO Box 6263, Lini Highway, Melcoffee, <br>Port Vila, Vanuatu</li>
                              <li>Email:<a href="mailto"> kingspavanuatu@gmail.com</a></li>
                              <li>Telephone: +678 7715888</li>
                            <li>Facebook: <a href="https://www.facebook.com/vanuatukingspa" target="_blank">@vanuatukingspa</a></li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </section>

                <!-- COPY RIGHT -->
                <div class="col-md-6 offset-md-3">
                    <ul class="list-inline socialLink text-center">
                        <li class="list-inline-item"><a href="https://www.facebook.com/vanuatukingspa"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-feed" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6 offset-md-3">
                    <div class="copyRight_text text-center">
                        <p>King Spa - Vanuatu &copy; 2017. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
