<div id="wufoo-z7kpc3h1k8z6le"></div>
<script type="text/javascript">var z7kpc3h1k8z6le;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'kingspavanuatu',
'formHash':'z7kpc3h1k8z6le',
'autoResize':true,
'height':'986',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7kpc3h1k8z6le = new WufooForm();z7kpc3h1k8z6le.initialize(options);z7kpc3h1k8z6le.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
