    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfHZDBMQGvaIebUAQR7N-rW5Kyv6xYS64"	async defer></script>
    <script src="{{site.baseurl}}/plugins/jquery/jquery.min.js"></script>
    <script src="{{site.baseurl}}/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{site.baseurl}}/plugins/bootstrap/js/tether.min.js"></script>
    <script src="{{site.baseurl}}/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="{{site.baseurl}}/plugins/slick/slick.min.js"></script>
    <script src="{{site.baseurl}}/plugins/circle-progress/jquery.appear.js"></script>
    <script src="{{site.baseurl}}/plugins/isotope/isotope.min.js"></script>
    <script src="{{site.baseurl}}/plugins/lightbox/js/lightbox.min.js"></script>
    <script src="{{site.baseurl}}/plugins/smoothscroll/SmoothScroll.min.js"></script>
    <script src="{{site.baseurl}}/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="{{site.baseurl}}/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="{{site.baseurl}}/plugins/syotimer/jquery.syotimer.min.js"></script>
    <script src="{{site.baseurl}}/js/custom.js"></script>